/* font families */
$font-text: 'Source Sans Pro', sans-serif;
/* colors */
$color-light: #fff;
$color-dark: #000;
$color-gold: #BEA67C;
/* weights */
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;
/* effects */
$transition: all 0.3s;
$radius: 5px;
/* sizes */
$base-size: 14px;

@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

